# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore local database
db.sqlite3

# Ignore environment variables
.env

# Ignore static files collected for production
/staticfiles/

# Ignore VSCode or PyCharm settings (optional)
.vscode/
.idea/
