<!doctype html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Lashify Artistry</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/tooplate-clean-work.css' %}" rel="stylesheet">


        <style>

            .hero-slideshow {
  position: relative;
  width: 100%;
  height: 100vh; /* full screen */
  overflow: hidden;
}

.hero-slideshow .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.hero-slideshow .slide.active {
  opacity: 1;
  z-index: 1;
}

</style>

<!--

Tooplate 2132 Clean Work

https://www.tooplate.com/view/2132-clean-work

Free Bootstrap 5 HTML Template

-->
    </head>
    
    <body>

        <header class="site-header">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12 col-12 d-flex flex-wrap">
                        <p class="d-flex me-4 mb-0">
                            <i class="bi-house-fill me-2"></i>
                            One-Stop Beauty Experience
                        </p>

                        <p class="d-flex d-lg-block d-md-block d-none me-4 mb-0">
                            <i class="bi-clock-fill me-2"></i>
                            <strong class="me-2">Mon - Fri</strong> 8:00 AM - 5:30 PM
                        </p>

                        <p class="site-header-icon-wrap text-white d-flex mb-0 ms-auto">
                            <i class="site-header-icon bi-whatsapp me-2"></i>

                            <a href="tel: 110-220-9800" class="text-white">
                                701 159 8254
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </header>

       <nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/logo.jpg' %}" class="logo img-fluid" alt="">
            <span class="ms-2">Lashify Artistry</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'services' %}">Our Services</a></li>
                        <li><a class="dropdown-item" href="{% url 'coming_soon' %}">Coming Soon</a></li>
                        <li><a class="dropdown-item" href="{% url 'page_404' %}">Page 404</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>

                <li class="nav-item ms-3">
                    <a class="nav-link custom-btn custom-border-btn custom-btn-bg-white btn" href="#">Get started</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

        <main>


            <!-- <div class="hero-slideshow">
                <img src="{% static 'images/slideshow/Have you mastered Classic Lash Extensions….jpg' %}" class="slide active" />
                <img src="{% static 'images/slideshow/dffd6d8a-d2b4-47b7-8a87-0e66c6b2cf94.jpg' %}" class="slide" />
                <img src="{% static 'images/slideshow/91d7e75a-b844-4662-9b8a-bde81e31bf2a.jpg' %}" class="slide" />
                <img src="{% static 'images/slideshow/cb4d8505-a103-436e-aa03-5ec81c4590ab.jpg' %}" class="slide" />
                <img src="{% static 'images/slideshow/Apprentiship.jpg' %}" class="slide" />
                <img src="{% static 'images/slideshow/b22211d7-12d7-4cbb-9da1-b18be3fe9665.jpg' %}" class="slide" />
                <img src="{% static 'images/slideshow/Shooting da tatuadora Gabi Petraglia por….jpg' %}" class="slide" />
            </div> -->

             <section class="hero-section hero-section-full-height d-flex justify-content-center align-items-center">
                
                    <!-- <div class="hero-slideshow">
                <img src="{% static 'images/slideshow/Have you mastered Classic Lash Extensions….jpg' %}" class="slide active" />
                <img src="{% static 'images/slideshow/dffd6d8a-d2b4-47b7-8a87-0e66c6b2cf94.jpg' %}" class="slide" />
                <img src="{% static 'images/slideshow/91d7e75a-b844-4662-9b8a-bde81e31bf2a.jpg' %}" class="slide" />
                <img src="{% static 'images/slideshow/cb4d8505-a103-436e-aa03-5ec81c4590ab.jpg' %}" class="slide" />
                <img src="{% static 'images/slideshow/Apprentiship.jpg' %}" class="slide" />
                <img src="{% static 'images/slideshow/b22211d7-12d7-4cbb-9da1-b18be3fe9665.jpg' %}" class="slide" />
                <img src="{% static 'images/slideshow/Shooting da tatuadora Gabi Petraglia por….jpg' %}" class="slide" />
            </div> -->

                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-7 col-12 text-center mx-auto">
                            <h1 class="cd-headline rotate-1 text-white mb-4 pb-2">
                                 <span>We Specialize in</span>
                                  <span class="cd-words-wrapper">
                                    <b class="is-visible">Beautification

                                    </b>
                                    <b>Lash extensions</b>
                                    <b>Pedicure</b>
                                    <b>Facials</b>
                                    <b>Manicure</b>
                                    <b>Apprenticeship</b>
                                    <b>Hair Styling</b>
                                    <b>Semi Permanent Tattoos</b>
                                </span>
                            </h1>

                            <a class="custom-btn btn button button--atlas smoothscroll me-3" href="#intro-section">
                                <span>Introduction</span>

                                <div class="marquee" aria-hidden="true">
                                    <div class="marquee__inner">
                                        <span>Introduction</span>
                                        <span>Introduction</span>
                                        <span>Introduction</span>
                                        <span>Introduction</span>
                                    </div>
                                </div>
                            </a>

                            <a class="custom-btn custom-border-btn custom-btn-bg-white btn button button--pan smoothscroll" href="#services-section">
                                <span>Explore Services</span>
                            </a>
                        </div>

                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L40,229.3C80,235,160,245,240,250.7C320,256,400,256,480,240C560,224,640,192,720,176C800,160,880,160,960,138.7C1040,117,1120,75,1200,80C1280,85,1360,139,1400,165.3L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
            </section>


            <section class="intro-section" id="intro-section">
                <div class="container">
                    <div class="row justify-content-lg-center align-items-center">

                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4">Unlock &amp; Your beauty <br> Potential</h2>

                            <p><a href="#">Lashify Artistry</a> Our expert technicians offer: Luscious lash extensions for a dramatic gaze, custom nail art and design that dazzle, sole-to-toe pampering with expert pedicures, semi-permanent tattoos that tell your story, and rejuvenating facials for glowing, radiant skin. <a href="#">Book now</a> and discover a more confident you.</p>

                           
                        </div>

                        <div class="col-lg-6 col-12 custom-block-wrap">
                           
                            <img src="{% static 'images/Beautiful_girl.jpg'%}" class="img-fluid">

                            <div class="custom-block d-flex flex-column">
                                <h6 class="text-white mb-3">Need Help? <br> Please call us:</h6>

                                <p class="d-flex mb-0">
                                    <i class="bi-telephone-fill custom-icon me-2"></i>

                                    <a href="tel: 110-220-9800">
                                        110-220-9800
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="services-section section-padding section-bg" id="services-section">                
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h2 class="mb-4">Our best offers</h2>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="services-image-wrap">
                                            <a href="{% url 'services-detail' %}">
                                                <img src="{% static 'images/services/25c1c51b-0841-408e-a5cc-d410695144f4.jpg'%}" class="services-image img-fluid" alt="">
                                                <img src="{% static 'images/services/Shooting da tatuadora Gabi Petraglia por… (1).jpg'%}" class="services-image services-image-hover img-fluid" alt="">

                                                <div class="services-icon-wrap">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="text-white mb-0">
                                                            <i class="bi-cash me-2"></i>
                                                            $820
                                                        </p>

                                                        <p class="text-white mb-0">
                                                            <i class="bi-clock-fill me-2"></i>
                                                            5 hrs
                                                        </p>
                                                    </div>                                                    
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                        <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                            <h4 class="services-title mb-1 mb-lg-2">
                                                <a class="services-title-link" href="{% url 'services-detail' %}">Semi Permanent Tattoos</a>
                                            </h4>

                                            <p>Best Cleaning Service Provider Ipsum dolor sit consectetur kengan</p>

                                            <div class="d-flex flex-wrap align-items-center">
                                                <div class="reviews-icons">
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star"></i>
                                                    <i class="bi-star"></i>
                                                </div>

                                                <a href="{% url 'services-detail' %}" class="custom-btn btn button button--atlas mt-2 ms-auto">
                                                    <span>Book Appointment</span>

                                                    <div class="marquee" aria-hidden="true">
                                                        <div class="marquee__inner">
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="services-image-wrap">
                                            <a href="{% url 'services-detail' %}">
                                                <img src="{% static 'images/services/4ee64701-7423-45db-ae24-6729eddd3eeb.jpg'%}" class="services-image img-fluid" alt="">
                                                <img src="{% static 'images/services/f6450872-cf9f-4e88-ba32-dd14be2376d7.jpg'%}" class="services-image services-image-hover img-fluid" alt="">

                                                <div class="services-icon-wrap">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="text-white mb-0">
                                                            <i class="bi-cash me-2"></i>
                                                            $640
                                                        </p>

                                                        <p class="text-white mb-0">
                                                            <i class="bi-clock-fill me-2"></i>
                                                            4 hrs
                                                        </p>
                                                    </div>                                                    
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                        <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                            <h4 class="services-title mb-1 mb-lg-2">
                                                <a class="services-title-link" href="{% url 'services-detail' %}">Nail Tech</a>
                                            </h4>

                                            <p>Best Cleaning Service Provider Ipsum dolor sit consectetur kengan</p>

                                            <div class="d-flex flex-wrap align-items-center">
                                                <div class="reviews-icons">
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                </div>

                                                <a href="{% url 'services-detail' %}" class="custom-btn btn button button--atlas mt-2 ms-auto">
                                                    <span>Book Appointment</span>

                                                    <div class="marquee" aria-hidden="true">
                                                        <div class="marquee__inner">
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb mb-lg-0">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="services-image-wrap">
                                            <a href="{% url 'services-detail' %}">
                                                <img src="{% static 'images/services/NP1 (1).jpg'%}" class="services-image img-fluid" alt="">
                                                <img src="{% static 'images/services/NP1 (2).jpg'%}" class="services-image services-image-hover img-fluid" alt="">

                                                <div class="services-icon-wrap">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="text-white mb-0">
                                                            <i class="bi-cash me-2"></i>
                                                            $240
                                                        </p>

                                                        <p class="text-white mb-0">
                                                            <i class="bi-clock-fill me-2"></i>
                                                            2 hrs
                                                        </p>
                                                    </div>                                                    
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                        <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                            <h4 class="services-title mb-1 mb-lg-2">
                                                <a class="services-title-link" href="{% url 'services-detail' %}">Pedicure</a>
                                            </h4>

                                            <p>Best Cleaning Service Provider Ipsum dolor sit consectetur kengan</p>

                                            <div class="d-flex flex-wrap align-items-center">
                                                <div class="reviews-icons">
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                </div>

                                                <a href="{% url 'services-detail' %}" class="custom-btn btn button button--atlas mt-2 ms-auto">
                                                    <span>Book Appointment</span>

                                                    <div class="marquee" aria-hidden="true">
                                                        <div class="marquee__inner">
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb mb-lg-0">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="services-image-wrap">
                                            <a href="{% url 'services-detail' %}">
                                                <img src="{% static 'images/services/IMG-20250708-WA0070.jpg'%}" class="services-image img-fluid" alt="">
                                                <img src="{% static 'images/services/Try a wine facial to stimulate production of new… (1).jpg'%}" class="services-image services-image-hover img-fluid" alt="">

                                                <div class="services-icon-wrap">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="text-white mb-0">
                                                            <i class="bi-cash me-2"></i>
                                                            $6,800
                                                        </p>

                                                        <p class="text-white mb-0">
                                                            <i class="bi-clock-fill me-2"></i>
                                                            30 hrs
                                                        </p>
                                                    </div>                                                    
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                        <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                            <h4 class="services-title mb-1 mb-lg-2">
                                                <a class="services-title-link" href="{% url 'services-detail' %}">Facial Treatment</a>
                                            </h4>

                                            <p>Best Cleaning Service Provider Ipsum dolor sit consectetur kengan</p>

                                            <div class="d-flex flex-wrap align-items-center">
                                                <div class="reviews-icons">
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star"></i>
                                                </div>

                                                <a href="{% url 'services-detail' %}" class="custom-btn btn button button--atlas mt-2 ms-auto">
                                                    <span>Book Appointment</span>

                                                    <div class="marquee" aria-hidden="true">
                                                        <div class="marquee__inner">
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                     
                        <div class="col-lg-6 col-12">
                            <div class="services-thumb mb-lg-0">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="services-image-wrap">
                                            <a href="{% url 'services-detail' %}">
                                                <img src="{% static 'images/services/Melanin Beauty Eyelash Extensions High-quality….jpg'%}" class="services-image img-fluid" alt="">
                                                <img src="{% static 'images/services/VL2.jpg'%}" class="services-image services-image-hover img-fluid" alt="">

                                                <div class="services-icon-wrap">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="text-white mb-0">
                                                            <i class="bi-cash me-2"></i>
                                                            $240
                                                        </p>

                                                        <p class="text-white mb-0">
                                                            <i class="bi-clock-fill me-2"></i>
                                                            2 hrs
                                                        </p>
                                                    </div>                                                    
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                        <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                            <h4 class="services-title mb-1 mb-lg-2">
                                                <a class="services-title-link" href="{% url 'services-detail' %}">Lash Extensions</a>
                                            </h4>

                                            <p>Best Cleaning Service Provider Ipsum dolor sit consectetur kengan</p>

                                            <div class="d-flex flex-wrap align-items-center">
                                                <div class="reviews-icons">
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                </div>

                                                <a href="{% url 'services-detail' %}" class="custom-btn btn button button--atlas mt-2 ms-auto">
                                                    <span>Book Appointment</span>

                                                    <div class="marquee" aria-hidden="true">
                                                        <div class="marquee__inner">
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
 
                     

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb mb-lg-0">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="services-image-wrap">
                                            <a href="{% url 'services-detail' %}">
                                                <img src="{% static 'images/services/A project focused on Black Hair   Cornrows _ Black….jpg'%}" class="services-image img-fluid" alt="">
                                                <img src="{% static 'images/services/6f47dbbb-fdc9-4a95-8fd4-e12fea4ed531.jpg'%}" class="services-image services-image-hover img-fluid" alt="">

                                                <div class="services-icon-wrap">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="text-white mb-0">
                                                            <i class="bi-cash me-2"></i>
                                                            $240
                                                        </p>

                                                        <p class="text-white mb-0">
                                                            <i class="bi-clock-fill me-2"></i>
                                                            2 hrs
                                                        </p>
                                                    </div>                                                    
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                        <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                            <h4 class="services-title mb-1 mb-lg-2">
                                                <a class="services-title-link" href="{% url 'services-detail' %}">Hair Styling</a>
                                            </h4>

                                            <p>Best Cleaning Service Provider Ipsum dolor sit consectetur kengan</p>

                                            <div class="d-flex flex-wrap align-items-center">
                                                <div class="reviews-icons">
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                    <i class="bi-star-fill"></i>
                                                </div>

                                                <a href="{% url 'services-detail' %}" class="custom-btn btn button button--atlas mt-2 ms-auto">
                                                    <span>Book Appointment</span>

                                                    <div class="marquee" aria-hidden="true">
                                                        <div class="marquee__inner">
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                            <span>Book Appointment</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="testimonial-section section-padding section-bg">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="text-white mb-4">Happy Customers</h2>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="featured-block">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/IMG-20250715-WA0040.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Mariam</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">"Absolutely amazing experience! The facial deeply cleansed my pores and left my skin feeling fresh and hydrated. The staff explained every step and recommended the perfect skincare routine for me. I’m in love with the results!"</p>
                            </div>

                            <div class="featured-block mb-lg-0">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/IMG-20250715-WA0032.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Temitope</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">"The pedicure was heavenly! From the relaxing foot soak to the massage and polish, everything was perfect. My feet have never felt or looked this good. Super clean tools and a soothing environment — 10/10 experience!"</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="featured-block">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/IMG-20250713-WA0021.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Tiana</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">"This is hands down the best place for hair styling! They transformed my look completely and gave me the exact style I envisioned. My hair was treated with care and I left the salon feeling like a queen."</p>
                            </div>

                            <div class="featured-block mb-lg-0">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/IMG-20250715-WA0035.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Beyond</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">Best manicure I’ve ever had! They really take their time to shape, clean, and polish the nails beautifully. My hands feel soft and my nails are so shiny and neat — I feel pampered every visit."</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="featured-block">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/IMG-20250715-WA0033.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Rita</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">"My lashes look stunning and natural! The lash technician was gentle, professional, and made sure I was comfortable throughout the process. I’ve had them on for weeks and they still look fabulous. Highly recommended!"</p>
                            </div>

                            <div class="featured-block mb-lg-0">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/IMG-20250715-WA0041.jpg'%}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Oluwanifemi</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">"My skin has never felt this soft and radiant! The facial was so relaxing, and the products used were gentle yet effective. I noticed a glow immediately after. This is now part of my monthly self-care routine!"</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


          
        </main>


        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 d-flex align-items-center mb-4 pb-2">
                        <div>
                            <img src="{% static 'images/logo.jpg'%}" class="logo img-fluid" alt="">
                        </div>

                        <ul class="footer-menu d-flex flex-wrap ms-5">
                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">About Us</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Blog</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Reviews</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                        <h5 class="site-footer-title mb-3">Our Services</h5>

                        <ul class="footer-menu">
                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">
                                    <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                    Semi Permanent Tattoos
                                </a>
                            </li>

                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">
                                    <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                   Facial Treatment
                                </a>
                            </li>

                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">
                                    <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                    Lash Extensions
                                </a>
                            </li>

                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">
                                    <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                    Pedicure
                                </a>
                            </li>

                            <li class="footer-menu-item">
                                <a href="#" class="footer-menu-link">
                                    <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                    Manicure
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                        <h5 class="site-footer-title mb-3">Office</h5>

                        <p class="text-white d-flex mt-3 mb-2">
                            <i class="bi-geo-alt-fill me-2"></i>
                            Chinese fence, davol bus stop iyana iyesi, Sango ota.
                        </p>

                        <p class="text-white d-flex mb-2">
                            <i class="bi-telephone-fill me-2"></i>

                            <a href="tel: 110-220-9800" class="site-footer-link">
                                701-159-8254
                            </a>
                        </p>

                        <p class="text-white d-flex">
                            <i class="bi-envelope-fill me-2"></i>

                            <a href="mailto:info@company.com" class="site-footer-link">
                               Lashifyartistry1@gmail.com
                            </a>
                        </p>

                        <ul class="social-icon mt-4">
                            

                            <li class="social-icon-item">
                                <a href="https://www.tiktok.com/@lashifyartistry?_t=ZM-8xxmicjvIA9&_r=1" class="social-icon-link button button--skoll">
                                    <span></span>
                                    <span class="bi-tiktok"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://www.instagram.com/lashify_artistry/?utm_source=ig_web_button_share_sheet" class="social-icon-link button button--skoll">
                                    <span></span>
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 mt-3 mt-lg-0 mt-md-0">
                        <div class="featured-block">
                            <h5 class="text-white mb-3">Service Hours</h5>

                            <strong class="d-block text-white mb-1">Mon - Fri</strong>

                            <p class="text-white mb-3">8:00 AM - 5:30 PM</p>

                            <strong class="d-block text-white mb-1">Sat</strong>

                            <p class="text-white mb-0">6:00 AM - 2:30 PM</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <p class="copyright-text mb-0">Copyright © 2036 Clean Work Co., Ltd.</p>
                        </div>
                        
                        <div class="col-lg-6 col-12 text-end">
                            <p class="copyright-text mb-0">
                            // Designed by <a href="https://www.tooplate.com" target="_parent">Tooplate</a> //</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
       

   
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/animated-headline.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const slides = document.querySelectorAll(".hero-slideshow .slide");
    let currentIndex = 0;
    const delay = 3000; // 3 seconds per slide

    function showSlide(index) {
      slides.forEach((slide, i) => {
        slide.classList.remove("active");
        if (i === index) slide.classList.add("active");
      });
    }

    function nextSlide() {
      currentIndex = (currentIndex + 1) % slides.length;
      showSlide(currentIndex);
    }

    setInterval(nextSlide, delay);
  });
</script>
 </body>
</html>
