<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation </title>
</head>
<body>
    <h2>New Booking confirmed by admin </h2>

    <p><strong>Reference:</strong> {{ booking.reference }}</p>
    <p><strong>Customer Name:</strong> {{ booking.name }}</p>
    <p><strong>Email:</strong> {{ booking.email }}</p>
    <p><strong>Service:</strong> {{ booking.service }}</p>
    <p><strong>Custom Details:</strong> {{ booking.custom_details }}</p>
    <p><strong>Booking Date:</strong> {{ booking.date }}</p>
    <p><strong>Fee:</strong> ₦{{ booking.fee }}</p>

    
</body>
</html>
